*.aux
*.bbl
*.blg
*.brf
*.log
*.out
*.gz
*.toc
data-nogit/*
data-nogit
.Rproj.user
.Rhistory
.RData
my_sims/files/
files/
goals2.png
goals.png
goals3.png
mcgillsims/
log/
manuscript/source/cache/*
.nfs*
sail.Rproj
rda/gen3g

manuscript/source/JASA-A&CS-2020-0005_Proof_hi\.pdf

manuscript/source/sail_manuscript_blinded-1-34\.pdf

manuscript/source/sail_manuscript_unblinded-1-35\.pdf

manuscript/source/ACC_form_sail\.docx
